
$primary-color: #F9A11B;
$secondary-color: #EA1945;
$primary-text: #303841;
$primary-color2: #EBEBEB;
$black: #000;
$white: #fff;
$primary-text-3: #344C60;
$hash-line: #EFEFEF;
$secondary-blue: #0070b6;
$hash-color-4 : #F7F7F7;
$blue1: #F2FFF8;


// FONTS
$primary-font: "Neo Sans W1G";
$secondary-font: "Neo Sans";


// Font weight
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi: 600 !default;
$font-weight-bold: 700 !default;